<h1>You've added a new contact!</h1>
<p>Your name: @Model.GetName(), Your number: @Model.GetNumber() </p>

<p><a href="/">Add another contact</a></p>
<!-- <p><a href="/view_all_contacts">View current contacts</a></p> -->
