<h1>You've added a new contact!</h1>
<p>Your name: @Model.GetName(), Your number: @Model.GetNumber(), Your address: @Model.GetAddress() </p>
<p><a href="/add_new_contact">Add another contact</a></p>
<p><a href="/view_all_contacts">View current contacts</a></p>
