<h1>Contact List</h1>
<ul>
  @foreach(var contact in Model)
  {
    <li>Name: @contact.GetName(), Phoneumber: @contact.GetNumber(), Address: @contact.GetAddress()</li>
  }
</ul>
<p><a href="/add_neww_contact">Add another contact</a></p>
<form action="/contacts_cleared" method="post">
  <button type="submit" name="button">Clear All Contacts</button>
</form>
