<h1>contact List</h1>
<ul>
  @foreach(var contact in Model)
  {
    <li>@contact.GetName(), @contact.GetNumber()</li>
  }
</ul>
<p><a href="/">Add another contact</a></p>

<form action="/contacts_cleared" method="post">
  <button type="submit" name="button">Clear All Contacts</button>
</form>
